<aside class="w-64 bg-green-400 text-white flex flex-col" style="height: 100vh;">
    <!-- Logo -->
    <div class="flex items-center justify-center p-4">
      <img src="assets/Swiss_pharmacy_logo.png" alt="Logo" class="w-12 h-12" />
      <span class="text-lg font-semibold ml-2">Admin Dashboard</span>
    </div>
  
    <!-- Navigation Menu -->
    <nav class="flex-1">
      <ul>
        <li class="hover:bg-white-700">
          <a routerLink="/dashboard" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-tachometer-alt mr-3"></i> Dashboard
          </a>
        </li>
        <li class="hover:bg-white-700">
          <a routerLink="/patients" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-users mr-3"></i> Patients
          </a>
        </li>
        <li class="hover:bg-white-700">
          <a routerLink="/staff" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-user-md mr-3"></i> Staff
          </a>
        </li>
        <li class="hover:bg-white-700">
          <a routerLink="/rooms" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-bed mr-3"></i> Rooms
          </a>
        </li>
        <li class="hover:bg-white-700">
          <a routerLink="/payments" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-money-bill-alt mr-3"></i> Payments
          </a>
        </li>
        <li class="hover:bg-white-700">
          <a routerLink="/appointments" routerLinkActive="bg-green-600" class="flex items-center p-3">
            <i class="fas fa-calendar-alt mr-3"></i> Appointments
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  