<div class="staff-container">
  <h2>Staff</h2>
  <table class="staff-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Specialization</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>{{ staff.user_id }}</td>
        <td>{{ staff.name }}</td>
        <td>{{ staff.role }}</td>
        <td>{{ staff.phone_number }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.specialization }}</td>
      </tr>
    </tbody>
  </table>
</div>
