/* need to update later  */
/* Center the login form */
.center-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background: linear-gradient(to right, #d6efd8, #4ca2cd);
    margin: 0;
    padding: 0;
}

/* Login form container */
.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
	font-weight: lighter;
}

.Login-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #35929c; 
    font-size: 28px; 
    text-align: center;
    margin-bottom: 20px;
  }
  

/* Label styling */
.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
	font-weight: 200;
    color: #333;
    text-align: left;
}

/* Input field styling */
.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.login-container input:focus {
    border-color: #67b26f;
    outline: none;
    box-shadow: 0 0 5px rgba(103, 178, 111, 0.5);
}

/* Login button styling */
.login-container button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: lighter;
	font-style: inherit;
    color: #ffffff;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.login-container button:hover {
    background: linear-gradient(to right, #4ca2cd, #67b26f);
}


.login-container button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }
}