/*Fullscreen Layout */
.fullscreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100%;
  background: linear-gradient(to right, #f3f4f6, #ffffff); 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form Container */
form {
  background: #ffffff; 
  padding: 30px;
  border-radius: 12px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 320px; 
  text-align: center;
  display: flex;
  flex-direction: column; 
}

/* Input Fields */
input {
  width: 100%; 
  padding: 10px 8px;
  margin: 10px 0; 
  border: 1px solid #ddd; 
  border-radius: 6px;
  font-size: 16px; 
  align-items: center;
  background: #f9f9f9; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
  border-color: #25f5fc; 
  box-shadow: 0 0 8px rgba(37, 117, 252, 0.4);
  outline: none; 
}

/* Login Button */
button {
  width: 100%; 
  background: #39975d; 
  color: white; 
  border: none; 
  padding: 10px; 
  border-radius: 15px; 
  cursor: pointer;
  font-size: 18px; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background: #237053; 
}

/* Registration Link */
a {
  color: #16a26e; 
  text-decoration: none; 
  font-size: 14px; 
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  text-decoration: underline; 
}

/* Header and Subtext */
h1 {
  font-size: 34px; 
  font-weight: bold;
  color: #03141e; 
  margin-bottom: 10px; 
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

p {
  font-size: 20px;
  color: #063c51; 
  text-align: center; 
  max-width: 600px; 
  margin-bottom: 20px; 
  line-height: 1.5;  
  max-width: 100%;
}

/* Logo Styling */
.profile-img-card {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  margin: 0 auto 20px; 
  border: 2px solid #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6; 
}

/* Button Hover Effects */
button:hover {
  transform: translateY(2px); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
}
